*{
	margin:0;
	padding:0;
}
/*title*/
.title{
   text-align: center;
   margin-top: 70px;
   font-size: 25px;
}

/*from*/
.deta{
	display: flex;
	justify-content: center;
}
/*form part 1*/
.deta1{
	display: inline-block;
	margin-top: 50px;
}
.deta1 input[type="text"],.deta input[type="email"]{
	width: 300px;
	height: 40px;
	border: none;
	outline-color: #247cff;
	border-bottom: 1px solid gray;
	font-size: 20px;
	margin-top: 20px;
	padding: 10px;
	margin-right: 100px;
}
.deta1 input[type="radio"]{
	display: none;
    margin-top: 20px;
}
label{
	position: relative;
	color: #247cff;
	font-size: 20px;
	border:2px solid #247cff;
	border-radius: 5px;
	padding: 10px 13px;
	align-items: center;
	cursor: pointer;
	margin-top: 20px;
	display: inline-flex;
}
label:before{
	content: "";
	width: 10px;
	height: 10px;
	border:2px solid #247cff;
	border-radius: 50%;
	margin-right: 10px;
}
input[type="radio"]:checked + label{
	background-color: #247cff;
	color: white;
}
input[type="radio"]:checked + label:before{
	height: 5px;
	width: 5px;
	border: 5px solid white;
}
/*form part 2*/

.deta2{
	display: inline-block;
	margin-top: 50px;
}
.deta2 input[type="number"]{
    width: 300px;
    height: 40px;
    border: none;
    outline-color: #247cff;
    border-bottom: 1px solid gray;
    font-size: 20px;
    padding: 10px;
    margin-top: 20px;
}
.sdocter{
	width: 320px;
	height: 40px;
	border:none;
	outline-color:#247cff;
	border-bottom:1px solid gray;
	font-size: 20px;
	margin-top: 40px;
}
.add{
	margin-top: 33px;
	font-size: 20px;
	border:none;
	outline-color: #247cff;
	border:1px solid gray;
	border-radius: 5px;
	resize: none;
	padding: 10px;
}
.massage textarea{
    margin-top: 33px;
	font-size: 20px;
	border:none;
	outline-color: #247cff;;
	border-bottom:1px solid gray;
	border-radius: 5px;
	resize: none;
	padding: 10px;
	margin-left: 300px;
}
.button input[type="submit"]{
	padding: 14px;
	font-size: 20px;
	margin: 40px 580px;
	background-color: black;
	color: white;
	border: none;
	cursor: pointer;
}
.button input[type="submit"]:hover{
	background-color: #247cff;
	transition: 40ms;
}