body{
	margin: 0;
}
#footer{
	background-color: #eeeeee;
	padding: 0 0 30px 0;
	color: #555555;
	font-size: 14px;
}

#footer .top{
	background-color: #f6f6f6;
	padding: 60px 0 30px 0;
}

#footer .top .info{
	margin-bottom: 30px;
}
#footer .top .info h3{
	font-size: 24px;
	margin: 0 0 20px 0;
	padding: 2px 0 2px 0;
	line-height: 1;
	font-weight: 700;
}
#footer .top .info p{
	font-size: 14px;
	line-height: 24px;
	margin-bottom: 0;
	font-size: "roboto",sans-serif;
}

#footer .top .links a{
	font-size: 18px;
	text-decoration: none;
	display: inline-block;
	/*background-color: #1977cc;*/
	color: blue;
	line-height: 1;
	padding: 5px 0;
	margin-right: 4px;
	border-radius: 4px;
	text-align: center;
	/*width: 36px;*/
	/*height: 36px;*/
	transition: 0.3s;
}
#footer .top .links a:hover{
	background-color: #65c9cd;
	text-decoration: none;
	padding: 5px;
}

#footer .top .link h4{
	font-size: 16px;
	font-weight: 600;
	position: relative;
	padding: relative;
	padding-bottom: 12px;
}
#footer .top .links{
	margin-bottom: 30px;
}
#footer .top .links ul{
	list-style: none;
	padding: 0;
	margin: 0;
}
#footer .top .links ul i{
     padding-right: 2px;
     color: #3fbbc0;
     font-size: 18px;
     line-height: 1;
     margin-right: 3px;
}
#footer .top .links ul li{
	padding: 7px 0;	
	display: flex;
	align-items: center;
}
#footer .icon i{
	font-size: 24px;
	color: blue;
	margin-right: 20px;
	cursor: pointer;
	margin-top: 15px;
	color: pink;
	/*border: 1px solid black;*/
	/*padding:5px;*/
	/*border-radius: 50%;*/
	/*background-color: rgba(255,255,255,0.2);*/
}
#footer .icon i:hover{
	color: black;
}

#footer .copyright{
	text-align: center;
	padding-top: 20px;
}
#footer .credits{
	padding-top: 10px;
	text-align: center;
	font-size: 13px;
}
#footer .credits a{
	text-decoration:none;
}