body{
    margin: 0px;
    padding: 0px;
}

.header{
    max-width: 100%;
    background-color: white;
    border-bottom: 1px solid gray;
    box-shadow: 0px 10px 40px #e1dbdb;
    position: sticky;
    top: 0px;
}

nav img{
    width: 150px;
    margin-left: 30px;
    cursor: pointer;
}
nav{
    display: flex;
    /* width: 100%; */
    align-items: center;
}
.header nav p{
    font-size: 50px;
    cursor: pointer;
    margin-left: 50px;
    margin-top: 0%;
    margin-bottom: 0%;
    padding: 20px;
}
.header nav ul{
    flex: 1;
    text-align: right;
    margin-right: 80px;
    margin-top: 8px;
}
nav ul li{
    display: inline-block;
    margin-left: 25px;
}
nav ul li a{
    text-decoration: none;
    list-style: none;
    font-size: 20px;
    color: gray
}
nav ul li a:hover{
    color: blue;
}
.mobile-nav-toggle{
    color: #2c4964;
    font-size: 28px;
    cursor:pointer;
    display: none;
    transition: 0.5s;
}
.mobile-nav-toggle.bi-x{
    color: white;
}
@media(max-width: 991px){
    .mobile-nav-toggle{
        display: block;
    }
    nav ul{
        display: none;
    }
}

