*{
    margin: 0;
    padding: 0;
}

/* header slider */
.slider{
  /*position: relative;*/
  /*overflow: hidden;*/
}
.carousel-inner img{
    width: 100%;
    height: 88vh;
    background-size: cover;
    background-position: center;
}
.text{
 margin-bottom: 220px;
}
.carousel-inner h5{
 font-size: 50px;
 margin-top: 25px;
 color: black;
}
.carousel-inner p{
 width: 60%;
 margin: auto;
 font-size: 18px;
 color: black;
}

.carousel-inner a{
  text-decoration:none;
  background-color: darkorange;
  padding: 10px 30px;
  display: inline-block;
  color: white;
  margin-top: 15px; 
}

/*about*/


.about{
  display: flex;
  margin: 70px 100px;

}
.about-img img{
  width: 400px;
  height: 450px;
  border-radius: 15px;
}
.about-text{    
   margin-left: 150px;
   margin-right: 90px;
}
.about-text h3{
   font-size: 70px;
   margin-bottom: 15px;
}
.about-text h3 span{
   color: blue;
}
.about-text p{
  font-size: 20px;
  font-weight: 500;
  text-align: justify;
}

/* gallery */

.gallery_title h1{
  color: #2c4964;
  margin-bottom: 50px;
}

.gallery-photo img{
  width: 300px;
  height: 300px;
  transition: 0.5s ease;
  cursor: pointer;
  border-radius: 3px;
}
.gallery-photo img:hover{
  transform:translateY(-10px);
}
.gallery_button button{
  background-color: #1977cc;
  border: 0;
  padding: 10px 35px;
  color: #fff;
  transition: 0.4s;
  border-radius: 5px;
  margin-top: 40px;
  margin-bottom: 40px;
}
.gallery_button button:hover{
  background-color: #3fbbc0;
  color: #fff;
}

/*doctor*/

.doctors{
  background-color: #fff;
}

.docter-title h2{
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: #2c4964;
}
.doctors .member{
  position: relative;
  box-shadow: 0px 2px 15px rgba(44,73,100,0.2);
  padding: 30px;
  border-radius: 10px;
}

.doctors .member .pic{
  overflow: hidden; /*photo zoom aatela maj tay*/
  width: 200px;
  border-radius: 50%;
}
.doctors .member .pic img{
      transition: 0.3s ease-in-out;
}
.doctors .member:hover img{
  transform: scale(1.1);
}
.doctors .member .member-info{
  padding-left: 30px;
}
.doctors .member h4{
  font-weight: 700;
  margin-bottom: 5px;
  font-size: 20px;
  color: #2c4964;
}
.doctors .member span{
  display: block;
  font-size: 15px;
  padding-bottom: 10px;
  position: relative;
  font-weight: 500;
}
.doctors .member span::after{
  content: '';
  position: absolute;
  display: block;
  width: 50px;
  height: 1px;
  background-color: #b2c8dd;
  bottom:0;
  left: 0;
}
.doctors .member p{
  margin: 10px 0 0 0;
  font-size: 14px;
}

.doctors .member .social{
  margin-top: 12px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.doctors .member .social a{
   transition: ease-in-out 0.3s;
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 50px;
   width: 32px;
   height: 32px;
   background-color: #a0bcd5;
}
.doctors .member .social a:hover{
  background-color: #3fbbc0;
}
.doctors .member .social a i{
  color: #fff;
  font-size: 16px;
  margin:0 2px;
}
.doctors .member .social a+a{
  margin-left: 8px;
}

/*services*/
.services-title h2{
  text-align: center;
  padding-bottom: 30px; 
  font-weight: 600;
  margin-bottom: 20px;
  position: relative;
  color: #2c4964;
  margin-top: 20px;
  font-size: 40px; 
}
.services .icon-box{
  text-align: center;
  border: 1px solid #d5e1ed;
  padding: 80px 20px;
  transition: all ease-in-out 0.3s;
}
.services .icon-box .icon{
  margin: 0 auto;
  width: 64px;
  height: 64px;
  background-color: #1977cc;
  border-radius: 5px;
  transition: all 0.3 ease-out 0s;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  transform-style: preserve-3d;
}
.services .icon-box .icon i{
  color: #fff;
  font-size: 28px;
  margin-bottom: 10px;
  margin-left: 5px;
}
.services .icon-box .icon::before{
  position: absolute;
  content: "";
  left: -8px;
  top: -8px;
  height: 100%;
  width: 100%;
  background-color: #badaf7;
  border-radius: 5px;
  transition: all 0.3s ease-out 0s;
  transform: translateZ(-1px);
}
.services .icon-box h4 a{
  color: #2c4964;
  text-decoration: none;
}
.services .icon-box p{
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}
.services .icon-box:hover{
  background-color: #3fbbc0;
}
.services .icon-box:hover .icon{
  background-color: #fff;
}
.services .icon-box:hover .icon i{
  color: #1977cc;
}
.services .icon-box:hover .icon::before{
  background-color: #3291e6;
}
.services .icon-box:hover p{
  color: #fff;
}

/*contact*/

.contact-title h2{
  text-align: center;
  padding-bottom: 30px; 
  font-weight: 600;
  margin-bottom: 20px;
  position: relative;
  color: #2c4964;
  margin-top: 70px;
  font-size: 40px; 
}

.contact .info{
  width: 100%;
  background: #fff;
}  

.contact .info i{
  font-size: 20px;
  color: #1977cc;
  float: left;
  height: 44px;
  width: 44px;
  background-color: #d9f1f2;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
}

.contact .info h4{
  padding: 0 0 0 60px;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
  clear: #2c4964;
}
.contact .info p{
  padding: 0 0 0 60px;
  margin-bottom: 0;
  font-size: 14px;
  color: #4b7dab;
}

.contact .info .email, .contact .info .phone{
  margin-top: 60px;
}
.contact .info .email:hover i,.contact .info .address:hover i,.contact .info .phone:hover i{
  background-color: #3fbbc0;
  color: #fff;
}
.contact .contact-form input, .contact .contact-form textarea{
  border-radius: 0;
  /*box-shadow: none;*/
  font-size: 14px;
}

.contact .contact-form textarea{
  padding: 10px 12px;
}

.contact .contact-form button[type="submit"]{
  background-color: #1977cc;
  border: 0;
  padding: 10px 35px;
  color: #fff;
  transition: 0.4s;
  border-radius: 50px;
  margin: 30px;
}

.contact .contact-form button[type="submit"]:hover{
  background-color: #3fbbc0;
  color: #fff;
}