body{
	margin: 0;
}
#footer{
	background-color: #eeeeee;
	padding: 0 0 30px 0;
	color: #555555;
	font-size: 14px;
}
#footer .copyright{
	text-align: center;
	padding-top: 20px;
}
#footer .credits{
	padding-top: 10px;
	text-align: center;
	font-size: 13px;
}
#footer .credits a{
	text-decoration:none;
}